.desktop {
    display: flex;
    height: 100vh;
    width: 100vw;
    color:white;
    background-color:royalblue;
    //@include linear-gradient(right, #380036 #0CBABA);
    //what is mixin???
}

.container {
    width: 100%;
}

#test {
    
    margin: 0px 10px;
}


