.navbar-container {
    display: flex;
    height: 50px;
    width: 100%;
    padding-bottom: 2px;
    background-color: #3A3B3C;
    border-bottom: 10px solid #121212;
    // border-bottom: 10px solid #0C9463;
}

#search-bar-form {
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 5px;
    padding: 0.2rem 1.5rem;
}

#search-bar {
    border-radius: 24px;
    height: 60%;
    width: 90%;
    border-style: solid;
    border-color: #E5E7EB;
}

#search-icon {
    width: 1.7em;
    fill: white;
    margin-right: auto;
    cursor: pointer;
}

#menu-icon {
    height: 1.8em;
    // width: 4em;
    cursor: pointer;
    border: solid 0.5px white;
    border-radius: 5px;
}

.search-bar-com {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 1rem;
    width: 30%;
}