.sidebar-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%
}

.sidebar-button {
    padding: 15px 0px;
    text-align: center;
    align-items: center;
}